.centered {
  margin:0 auto;
}
.oval {
  display:inline-block;
  background:rgb(255, 255, 255);
  border-radius: 80px;
}
.title {
  text-align: center;
  background-color: rgb(20, 0, 153);
  color: aqua;
  border-radius: 80px;
  border-color: aqua;
  border-width: 6px;
  border-style: solid;
  background-size: 100%;
  font-size: 60px;
  margin-left: 20%;
  margin-right: 20%;
  /* margin: 0;
  padding: 0; */
  height: auto;
  width: auto;
  vertical-align: middle;
  padding: 10px 0;
}

.title p{
  padding: 0;
  margin: 20px 0;
}